body {
    font-family: 'Oswald', sans-serif;
    background: #495b96;
}

header {
    position: relative;
    top: 0;
    height: 50vh;
    width: 100%;
    background-image: url("../img/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2vh;
    border-bottom: 0.5vh solid lightgray;
}

h1 {
    color: black;
    font-size: 2em;
    background-color: white;
    opacity: 0.5;
    padding: 1% 0 1% 2%;
    text-transform: uppercase;
    position: relative;
    top: 1%;
}

p {
    color: black;
    padding: 1vw;
    font-size: 1em;
    line-height: 120%;
}

#first-body-row {
    display: flex;
}

#leftbox {
    flex: 1;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border: 1px solid lightgray;
    height: min-content;
    background: white;
    opacity: 0.75;

}

.rightbox {
    flex: 1;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border: 1px solid lightgray;
    height: min-content;
    background: white;
    opacity: 0.75;



}

#blood-moon {
    width: 100%;
    object-fit: cover;
    opacity: 1;

}